<p id="notice"><%= notice %></p>

<p>
  <strong>Gradevalue:</strong>
  <%= @grade.gradevalue %>
</p>

<p>
  <strong>Minrange:</strong>
  <%= @grade.minrange %>
</p>

<p>
  <strong>Maxrange:</strong>
  <%= @grade.maxrange %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
