<%= form_for(@metric_configs) do |f| %>
  <% if @metric_configs.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric_configs.errors.count, "error") %> prohibited this metric_config from being saved:</h2>

      <ul>
      <% @metric_configs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :metricname %>
    <%= f.text_field :metricname %>
  </div>
  <div class="field">
    <%= f.label :orderby %>
    <%= f.number_field :orderby %>
  </div>
  <div class="field">
    <%= f.label :fbvalue %>
    <%= f.text_field :fbvalue %>
  </div>
  <div class="field">
    <%= f.label :profiledisplay %>
    <%= f.check_box :profiledisplay %>
  </div>
  <div class="field">
    <%= f.label :metrictype %>
    <%= f.check_box :metrictype %>
  </div>
  <div class="field">
    <%= f.label :updateable %>
    <%= f.check_box :updateable %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
