<div class="row">
  <aside class="span4">
    <section>
      <!--<h1>Remove Me</h1>-->
    </section>
  </aside>
    <div class="span8">
    <%if current_user.metrics.any? %>
      <h3>Metrics Configurations For <%= current_user.name %> (<%= @metricconfigs.count %>)</h3>
      <ol class="metricConfigs">
        <% @metricconfigs.each do |mc|%>
          <%= mc.metricname%>
          <%= link_to 'Show', mc %>
          <%= link_to 'Edit', edit_metric_config_path(mc) %>
          <%= link_to 'Destroy', mc, method: :delete, data: { confirm: 'Are you sure?' } %> <BR>
        <% end %>
      </ol>
      <%#= will_paginate @metricconfigs %>
      <%= link_to 'New Metric Config', new_metric_config_path %>
    <% end %>
  </div>
</div>