<h1>Listing metric_configs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Value</th>
      <th>Orderby</th>
      <th>Profiledisplay</th>
      <th>Updateable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<%= will_paginate %>

  <tbody>
    <% @metric_configs.each do |metric_config| %>
      <tr>
        <td><%= metric_config.user_id %></td>
        <td><%= metric_config.value %></td>
        <td><%= metric_config.orderby %></td>
        <td><%= metric_config.profiledisplay %></td>
        <td><%= metric_config.updateable %></td>
        <td><%= link_to 'Show', metric_config %></td>
        <td><%= link_to 'Edit', edit_metric_config_path(metric_config) %></td>
        <td><%= link_to 'Destroy', metric_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate %>
<br>
<%= link_to 'New Metric config', new_metric_config_path %>
