<p>
  <strong>Metric Config:</strong>
  <%= @metric_config.value %>
</p>

<%= form_for([@metric_config, @metric_config.metrics.build]) do |f| %>
  <p>
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :metricdate %><br>
    <%= f.date_field :metricdate %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_metric_config_path(@metric_config) %> |
<%= link_to 'Back', metric_config_path %>
