<p>
  <strong>Metric Config:</strong>
  <%= @metric_config.metricname %>
</p>

<%= form_for([@metric_config, @metric_config.metrics.build]) do |f| %>
  <p>
    <%= f.label :metricname %><br>
      <%#= @metricconfigs.find(metric.metric_config_id).metricname %>
    <%= f.text_field :metric_config_id.metricname %>
  </p>
  <p>
    <%= f.label :metricdate %><br>
    <%= f.date_field :metricdate %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_metric_config_path(@metric_config) %> |
<%= link_to 'Back', metric_config_path %>
