<%# provide(:title, @user.name) %>
  <div class="col-md-8">
    <% if @metricconfigs.metrics.any? %>
      <h3>Metrics (<%= @metricconfigs.metrics.count %>)</h3>
      <%= @metricconfigs.metricname %>
      <ol class="metricConfigs">
        <% @metrics.each do |m|%>
          <%= m.metricdate %> &nbsp
          <%= m.metric_config_id %> &nbsp
          <%= m.value %> <BR>
        <% end %> 
      </ol>
      <%= will_paginate @metrics %>
    <% end %>
      <%= link_to 'New Metric', new_metric_path %>
  </div>

