<h1>Metric Config</h1>

    <%= @metric_config.metricname %><BR>
    <%= @metric_config.orderby %><BR>
    <%= @metric_config.fbvalue %><BR>
    <%= @metric_config.profiledisplay %><BR>
    <%= @metric_config.metrictype %><BR>
    <%= @metric_config.updateable %>

<%= link_to 'New', new_metric_config_path %> |
<%= link_to 'Back', metric_configs_path %>
