<h1>Daily Metrics</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<%= will_paginate %>
  <tbody>
    <% @metricconfigs.each do |metric_config| %>
      <tr>
        <td><%= metric_config.value %></td>
        <td><%= link_to 'Show', metric_config %></td>
        <td><%= link_to 'Edit', edit_metric_config_path(metric_config) %></td>
        <td><%= link_to 'Destroy', metric_config, method: :delete, data: { confirm: 'Are you sure?' } %></
      </tr>
    <% end %>

    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.metricdate %></td>
        <td><%= metric.value %></td>
        <td><%= link_to 'Show', metric %></td>
        <td><%= link_to 'Edit', edit_metric_path(metric) %></td>
        <td><%= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate %>
<br>

<%= link_to 'New Metric', new_metric_path %>

<%#= @userinfo %>
<br>
<br>
<%#= @activities %>
<br>
<br>
<%#= @measurements %>
<br>
<br>
<%= @weight %>