<%# provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%#= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <%# if @user.metric_configs.any? %>
    <%#if @user.metrics.any? %>
      <h3>Daily Metrics For <%= @dateToShow %>(<%= @metrics.count %>)</h3>
      <ol class="metricConfigs">
        <% @metrics.each do |metric|%>
          <% if @metricconfigs.find(metric.metric_config_id).profiledisplay == true %>
            <% @metricconfig = @metricconfigs.find(metric.metric_config_id) %>
            <%= @metricconfig.metricname%>
            <%= metric.value %>
            <% if @metricconfig.updateable == true %>
              <%= link_to 'Show', metric %>
              <%= link_to 'Edit', edit_metric_path(metric) %>
              <%= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <BR>
          <% end %>
        <% end %>
      </ol>
      <br>
      <%#= will_paginate %>
      <br>

    <%= link_to 'New Metric', new_metric_path %>
    <%# end %>
  </div>
</div>