<%# provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%#= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <%# if @user.metric_configs.any? %>
    <%#if @user.metrics.any? %>
      <h3>Daily Metrics For <%= @dateToShow %>(<%= @metricconfigs.count %>)</h3>
      <ol class="metricConfigs">
        <% @metrics.each do |metric|%>
          <%#= @metricconfigs.find(metric.metric_config_id).metricname%>
          <%= metric.value %>
          <%= link_to 'Show', metric %>
          <%= link_to 'Edit', edit_metric_path(metric) %>
          <%= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' } %><BR>
        <% end %>
      </ol>
      <br>
      <%#= will_paginate %>
      <br>

    <%= link_to 'New Metric', new_metric_path %>
    <%# end %>
  </div>
</div>