<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<script>
//$.ajaxSetup({
//  headers: {
//    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
// }
//});
$(document).ready(function(){
    $('#metricdate').change(function() {
        metricdate.val($(this).val());
        //var datevalue = $(this).val()
        //$.get( '/fbmetrics', {id:"1", metricdate:datevalue} );
        //window.location.reload();
      });
});
//$(document).on('page:update', ready);
</script>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/grades' %>
    </section>
  </aside>
    <div class="span8">
  <%=form_tag(fbmetrics_path(:id => @user.id), method: :get) do%>
    <%= csrf_meta_tag %>
    <%= hidden_field_tag :id, @user.id %>
    <%if @user.metrics.any? %>
      <h3>Daily Metrics For: <%=@dateToShow%></h3> 
      <p width:40%>
      <%=date_field_tag 'metricdate', @dateToShow, :onchange => "this.form.submit();"%> 
      </span></p>
 
      <ol class="metricConfigs">
    <table class="table-condensed">
      <tr>
          <td>
            <strong>
              Metric
            </strong>
          </td>
          <td>
            <strong>
              Value
            </strong>
          </td>
          <td>
            <strong>
              Goal
            </strong>
          </td>
          <td>
            <strong>
              Points
            </strong>
          </td>
          <td>
            <strong>
              Possible
            </strong>
          </td>
          <td>
            <strong>
              % Achieved
            </strong>
          </td>
            </strong>
      </tr>
        <% @metricsToShow.each do |metric|%>
        <% mv = metric.value %>
        <% mid = metric.id %>
          <% if @metricconfigs.find(metric.metric_config_id).profiledisplay == true %>
          <tr>
            <% if @gradeconfigs.exists?(:metric_config_id => metric.metric_config_id) %>
              <td>
              <span style="font-weight:bold">
                <%= @metricconfigs.find(metric.metric_config_id).metricname%>
              </span>
            <% else %>
              <td>
                <%= @metricconfigs.find(metric.metric_config_id).metricname%>
            <% end %>
              </td>
            <% if @metricconfigs.find(metric.metric_config_id).metrictype == "minutes" %>
                <% if @gradeconfigs.exists?(:metric_config_id => metric.metric_config_id) %>
                <% gc_weight = (@gradeconfigs.find_by metric_config_id: metric.metric_config_id).weight %>
                <% gc_goal = (@gradeconfigs.find_by metric_config_id: metric.metric_config_id).goal %>
                <%# obj_mg = MetricGrade.where(metric_id: mid) %>
                <% mg_points = (MetricGrade.find_by metric_id: mid).points %>
                <% mg_percentage = (MetricGrade.find_by metric_id: mid).percentage %>
                  <td>
                    <span style="font-weight:bold">
                      <%= (mv/60).round(2) %>
                      <%= @metricconfigs.find(metric.metric_config_id).label%>
                      <td>
                      <span style="font-weight:bold">
                        <%= gc_goal %>
                      </td>
                      <td>
                      <span style="font-weight:bold">
                        <%= mg_points %>
                      </td>
                      <td>
                      <span style="font-weight:bold">
                        <%= gc_weight %>
                      </td>
                      <td>
                      <span style="font-weight:bold">
                        <%= mg_percentage %>
                      </td>
                    </span>
                  </td>
                <% else %>
                  <td>
                    <% if @metricconfigs.find(metric.metric_config_id).updateable == true %>
                    <%= link_to (mv/60).round(2), edit_metric_path(metric)%>
                    <%= @metricconfigs.find(metric.metric_config_id).label%>
                    <% else %>
                    <%= (mv/60).round(2)%>
                    <%= @metricconfigs.find(metric.metric_config_id).label%>
                    <% end %>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                <% end %>
              <% else %>
                <% if @gradeconfigs.exists?(:metric_config_id => metric.metric_config_id) %>
                <% gc_weight = (@gradeconfigs.find_by metric_config_id: metric.metric_config_id).weight %>
                <% gc_goal = (@gradeconfigs.find_by metric_config_id: metric.metric_config_id).goal %>
                <% mg_points= (MetricGrade.find_by metric_id: mid).points %>
                <% mg_percentage = (MetricGrade.find_by metric_id: mid).percentage %>
                  <td>
                  <span style="font-weight:bold">
                    <% if @metricconfigs.find(metric.metric_config_id).updateable == true %>
                      <% if @metricconfigs.find(metric.metric_config_id).metrictype == "boolean" %>
                        <% if mv == 0 %>
                          <%= link_to 'work on it', edit_metric_path(metric) %> 
                          <%= @metricconfigs.find(metric.metric_config_id).label%>
                          <td>
                          <span style="font-weight:bold">
                            <%= gc_goal %>
                          </td>
                          <td>
                          <span style="font-weight:bold">
                            <%= mg_points %>
                          </td>
                          <td>
                          <span style="font-weight:bold">
                            <%= gc_weight %>
                          </td>
                          <td>
                          <span style="font-weight:bold">
                            <%= mg_percentage %>
                          </td>
                        <% else %>
                          <%= link_to 'achieved', edit_metric_path(metric) %> 
                          <%= @metricconfigs.find(metric.metric_config_id).label%>
                          <td>
                          <span style="font-weight:bold">
                            <%= gc_goal %>
                          </td>
                          <td>
                          <span style="font-weight:bold">
                            <%= mg_points %>
                          </td>
                          <td>
                          <span style="font-weight:bold">
                            <%= gc_weight %>
                          </td>
                          <td>
                          <span style="font-weight:bold">
                            <%= mg_percentage %>
                          </td>
                        <% end %>
                      <% else %> 
                        <%= link_to mv, edit_metric_path(metric) %> 
                        <%= @metricconfigs.find(metric.metric_config_id).label%>
                          <td>
                          <span style="font-weight:bold">
                            <%= gc_goal %>
                          </td>
                          <td><span style="font-weight:bold">
                            <%= mg_points %>
                          </td>
                          <td><span style="font-weight:bold">
                            <%= gc_weight %>
                          </td>
                          <td><span style="font-weight:bold">
                            <%= mg_percentage %>
                          </td>
                      <% end %>
                    <% else %>
                      <%= mv %>
                      <%= @metricconfigs.find(metric.metric_config_id).label%>
                          <td><span style="font-weight:bold">
                            <%= gc_goal %>
                          </td>
                          <td><span style="font-weight:bold">
                            <%= mg_points %>
                          </td>
                          <td><span style="font-weight:bold">
                            <%= gc_weight %>
                          </td>
                          <td><span style="font-weight:bold">
                            <%= mg_percentage %>
                          </td>
                    <% end %>
                  </span>
                  </td>
                <% else %>
                  <td>
                  <% if @metricconfigs.find(metric.metric_config_id).updateable == true %>
                      <%= link_to mv, edit_metric_path(metric) %> 
                      <%= @metricconfigs.find(metric.metric_config_id).label%>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
                  <% else %>
                    <%= mv %>
                    <%= @metricconfigs.find(metric.metric_config_id).label%>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            </tr>
            <% end %>
        <% end %>  
          </tr>        
        </table>
      </ol>
      <BR>
    <% end %>
    <!-- This is the end for the form_tag-->
    <% end %>
    <%#= link_to 'New Metric', new_metric_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Update FitBit Metrics", fbmetrics_path(:updateMetrics => 'Y', :id => @user.id, :metricdate => @dateToShow), class: "btn btn-large btn-primary" %> 
    <BR> <BR>
    <%if @metricsToShow.any? %>
    Metrics Last Updated: 
    <%= @metricsToShow.maximum("updated_at").in_time_zone("Central Time (US & Canada)").strftime("%D %l:%M %p")%>
    <BR> <BR>
    <%end%>
    * <B>bold</B> indicates a metric that is included in daily grading
  </div>
</div>