<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<script>
//$.ajaxSetup({
//  headers: {
//    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
// }
//});
$(document).ready(function(){
    $('#metricdate').change(function() {
        metricdate.val($(this).val());
        //var datevalue = $(this).val()
        //$.get( '/fbmetrics', {id:"1", metricdate:datevalue} );
        //window.location.reload();
      });
});
//$(document).on('page:update', ready);
</script>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/grades' %>
    </section>
  </aside>
    <div class="span8">
  <%=form_tag(fbmetrics_path(:id => @user.id), method: :get) do%>
    <%= csrf_meta_tag %>
    <%= hidden_field_tag :id, @user.id %>
    <%if @user.metrics.any? %>
      <h3>Daily Metrics For: <%=@dateToShow%>
      <span width:20px>
      <%=date_field_tag 'metricdate', @dateToShow, :onchange => "this.form.submit();"%> 
      </span>
      <!--(<%#= @metricsToShow.count %> of <%#=@metricconfigs.count %>)--></h3>
     <%#= date_field(:metricdate, :value) %>    
      <ol class="metricConfigs">
      <table>
        <% @metricsToShow.each do |metric|%>
        <% mv = metric.value %>
          <% if @metricconfigs.find(metric.metric_config_id).profiledisplay == true %>
          <tr>
            <% if @gradeconfigs.exists?(:metric_config_id => metric.metric_config_id) %>
              <td>
              <span style="font-weight:bold">
                <%= @metricconfigs.find(metric.metric_config_id).metricname%>
              </span>
            <% else %>
              <td>
                <%= @metricconfigs.find(metric.metric_config_id).metricname%>
            <% end %>
              </td>
            <% if @metricconfigs.find(metric.metric_config_id).metrictype == "minutes" %>
                <% if @gradeconfigs.exists?(:metric_config_id => metric.metric_config_id) %>
                  <td>
                    <span style="font-weight:bold">
                      <%= (mv/60).round(2) %>
                      <%= @metricconfigs.find(metric.metric_config_id).label%>
                    </span>
                  </td>
                <% else %>
                  <td>
                    <% if @metricconfigs.find(metric.metric_config_id).updateable == true %>
                    <%= link_to (mv/60).round(2), edit_metric_path(metric)%>
                    <%= @metricconfigs.find(metric.metric_config_id).label%>
                    <% else %>
                    <%= (mv/60).round(2)%>
                    <%= @metricconfigs.find(metric.metric_config_id).label%>
                    <% end %>
                  </td>
                <% end %>
                  <%# elsif @metricconfigs.find(metric.metric_config_id).metrictype == "boolean" %>
                  <!--<td>-->
                    <%#= check_box_tag metric.id, mv, mv %>
              <% else %>
                <% if @gradeconfigs.exists?(:metric_config_id => metric.metric_config_id) %>
                  <td>
                  <span style="font-weight:bold">
                    <% if @metricconfigs.find(metric.metric_config_id).updateable == true %>
                        <%= link_to mv, edit_metric_path(metric) %> 
                        <%= @metricconfigs.find(metric.metric_config_id).label%>
                    <% else %>
                      <%= mv %>
                      <%= @metricconfigs.find(metric.metric_config_id).label%>
                    <% end %>
                  </span>
                <% else %>
                  <td>
                  <% if @metricconfigs.find(metric.metric_config_id).updateable == true %>
                      <%= link_to mv, edit_metric_path(metric) %> 
                      <%= @metricconfigs.find(metric.metric_config_id).label%>
                  <% else %>
                    <%= mv %>
                    <%= @metricconfigs.find(metric.metric_config_id).label%>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            </tr>
            <% end %>
        <% end %>  
          </tr>        
        </table>
      </ol>
      <BR>
    <% end %>
    <!-- This is the end for the form_tag-->
    <% end %>
    <%#= link_to 'New Metric', new_metric_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Update FitBit Metrics", fbmetrics_path(:updateMetrics => 'Y', :id => @user.id, :metricdate => @dateToShow), class: "btn btn-large btn-primary" %> 
    <BR> <BR>
    <%if @metricsToShow.any? %>
    Metrics Last Updated: 
    <%= @metricsToShow.maximum("updated_at").in_time_zone("Central Time (US & Canada)").strftime("%D %l:%M %p")%>
    <BR> <BR>
    <%end%>
    * <B>bold</B> indicates a metric that is included in daily grading
  </div>
</div>