<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <% if @user.metricconfigs.any? %>
      <h3>Daily Metrics (<%= @user.metricconfigs.count %>)</h3>
      <ol class="metricConfigs">
        <%= render @metricconfigs %>
        <%= render @metrics %>
      </ol>
      <%= will_paginate @metricconfigs %>
    <% end %>
  </div>
</div>