<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <% if @user.metrics.any? %>
      <h3>Metrics (<%= @user.metrics.count %>)</h3>
      <ol class="metrics">
        <%= render @metrics %>
      </ol>
      <%= will_paginate @metrics %>
    <% end %>
  </div>
</div>